[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vendor/imgui"]
	path = vendor/imgui
	branch = docking
	url = https://github.com/ocornut/imgui.git
[submodule "vendor/imgui_zmo"]
	path = vendor/imgui_zmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
